*{
    margin: 0;
    padding: 0;
}

@import url("../css/tiposde_letras.css");
@import url("../css/Hcabeca.css");


/* cabecalho inicio */

header#cabeca{
   /* padding-top: 20px; */
    width: 100%;
    height: 600px;
}

header div a{
    text-decoration: none;
    color: white;
    text-shadow: 10px; 
}

.logotipo{
    position: relative;
    float: left;
    margin-left: 200px;
    background-color: #FF866A;
    font-size: 30px;
    font-family: indie;
    border: solid 3px #803205;
    margin-right: 300px;
}

.menus ul  li {     
    margin-left: 100px;
     
    list-style: none;
    display: inline;  
    font-size: 20px;
    
}

.menus ul>li:hover {
    border: 1px solid #fff;
    font-size: 22px;
  
}

.cabelo{
    width: 100%;
    height: 580px;
    background-image: url("../medias/fotos/01-massa-pizza.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 25px;
    color:#fff;
}

.cabelo #h > h1 ,.cabelo #h > h5
{
padding-top: 70px;

font-style: bold;
font-size: 500%;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}




/* cabecalho fim */

/* zona 1 inicio  */

section#zona1{
    width: 100%;
    padding-top: 50px; 
     
     height: 240px;
     text-align: center;
     background-color:   #FF866A;
     color: white;

   
 }

 #zona1 h4{
    font-style: bold;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

 }

 #zona1 h6{
padding-top: 20px;
color:rgb(248, 239, 239);
font-style: bold;
font-size: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}


 /* zona 1 fim  */

 /* zona 2 inicio  */
 section#zona2{ 
    width: 100%;
    padding-top: 40px;     
     height: 400px;
     text-align: center;
     background-color:#EDEADB;
 }

 section#zona2  img{
    width: 400px;
    height: 350px;
    float: left; 
    margin-left: 400px;
    border: #fff 3px solid;
 }

 section#zona2 > #conteudo{
    margin-left: 30px;
    width: 410px;
    height: 410px;
    float: left; 
 
 }


 button.btncardapio, button.btncardapio a{
     padding: 10px;
     background-color: rgb(44, 40, 40);
     font-size: 20px;
     color: white;
     text-decoration: none;
 }


 /* zona 1 inicio  */

section#zona3{
    width: 100%;
    padding-top: 50px; 
     
     height: 340px;
     text-align: center;
     background-color:#FFFFFF;
     color: white;
 }


 #rodape{
    width: 100%;
    padding-top: 50px; 
     
     height: 400px;
     text-align: center;
     background-color: #171516;
     color: white;
 }