

/* zona 1 inicio  */

section#zona1{
    width: 100%;
    padding-top: 50px; 
     
     height: 240px;
     text-align: center;
     background-color:   #FF866A;
     color: white;
     border-bottom: 2px #fff solid;

   
 }

 #zona1 h4{
    font-style: bold;
    font-size: 200%;
    font-family: indie;
    text-align: center;

 }

 #zona1 h6{
padding-top: 20px;
color:rgb(248, 239, 239);
font-style: bold;
font-size: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}



 /* zona 2 inicio  */

 section#zona2{ 
    width: 100%;
    padding-top: 40px;     
     height: 400px;
     text-align: center;
     background-color:#EDEADB;
     border-bottom: 1px solid;
 }

 section#zona2  img{
    width: 400px;
    height: 350px;
    float: left; 
    margin-left: 400px;
    border: #fff 3px solid;
 }

 section#zona2 > #conteudo{
    margin-left: 30px;
    width: 410px;
    height: 410px;
    float: left; 
    text-align: left;
 }


 #zona2 h2{
     color: #600606;
    
 }

 #zona2>div > p#P1{
    color:rgb(19, 20, 19);
    font-size: 28px;
    
 }

 #zona2>div > p#P2{
    color:rgb(19, 20, 19);
    font-size: 18px;
    text-justify: auto;
    
 }


 button.btncardapio, button.btncardapio a{
     padding: 10px;
     background-color: rgb(44, 40, 40);
     font-size: 20px;
     color: white;
     text-decoration: none;
 }


 /* zona 3 inicio  */

section#zona3{
    width: 100%;
    padding-top: 50px; 
     
     height: 340px;
     text-align: center;
     background-color:#FFFFFF;
     color: white;
 }


 #zona3 h2{
   color: #600606;
   float: left;
   padding-left: 400px; 
   padding-bottom: 30px;
  
}

section#zona3 .exemplo_p{
   float: left;
   position: relative;
   color: black;
   font-size: 15px;
}